<div class="row mt-2 pb-5 px-3">
  <div class="col-12">
    <hr class="mt-4 mb-2">
  </div>
  <div class="col-md-10 offset-md-1 px-4 mb-5 mt-4 pb-4 text-left">
    
    <h5 class="text-left mb-3 pt-2">Learn More</h5>
    <p class="mb-2"><a href="/user-benefits" class="btn btn-primary btn-lg mr-1">User Benefits</a> A deeper look into the many benefits for users, with examples and references.</p>
    <p class="mb-2"><a href="/for-companies" class="btn btn-primary btn-lg mr-1">For Companies</a> See why companies and businesses also benefit from being Openly Operated.</p>
    <p class="mb-2"><a href="/how-to" class="btn btn-primary btn-lg mr-1">How To</a> The requirements for Openly Operated products, and how to get started.</p>
    <p class="mb-2"><a href="/about-us" class="btn btn-primary btn-lg mr-1">About Us</a> Read about the values, mission, origin, and creators of Openly Operated.</p>
    <p class="mb-2"><a href="/reports" class="btn btn-primary btn-lg mr-1">Reports</a> See live examples of Openly Operated products and their audit reports.</p>
    <p class="mb-2"><a href="/contact" class="btn btn-primary btn-lg mr-1">Get Involved</a> Discuss Openly Operated, transparency, the future of the web, and any related topics.</p>
  </div>
</div>