<div class="row mt-2 pb-5 px-3">
  <div class="col-12">
    <hr class="mt-4 mb-2">
  </div>
  <div class="col-md-10 offset-md-1 px-4 mb-5 mt-4 pb-4 text-left">
    
    <div class="row">
      <div class="col-md-6">
        <h4 class="text-center mb-3 mt-3">Stay Informed</h4>
        <p>If you think full, provable transparency is important in the apps and services we all use, subscribe to the Openly Operated newsletter.</p>
        <div class="mx-auto mb-4 pb-2" style="max-width: 480px;">
          {{> emailsubscribe id='1'}}
          <p class="small text-left mt-1 mb-0">Your email address is kept private and never shared with third parties &mdash; see <a href="/report/openlyoperated#email-address-privacy" target="_blank">the proof</a> in OpenlyOperated.org's <a href="/report/openlyoperated" target="_blank">Audit Kit</a>.</p>
        </div>
      </div>
      <div class="col-md-6">
        <h4 class="text-center mb-3 mt-3">Spread The Word</h4>
        <p>This site is written for everyone &mdash; companies, developers, everyday users. Make the future Openly Operated by sharing with friends.</p>
        <div class="mx-auto mb-4 pb-2 text-center" style="max-width: 480px;">
          <button type="button" data-clipboard-text="https://{{DOMAIN}}" class="btn btn-primary btn-lg" data-toggle="popover" data-content="Share Link Copied!">
          Copy Share Link
          </button>
        </div>
      </div>
    </div>
    <h5 class="text-left mb-3 pt-2">Learn More</h5>
    <p class="mb-2"><a href="/user-benefits" class="btn btn-primary btn-lg mr-1">User Benefits</a> A deeper look into the many benefits for users, with examples and references.</p>
    <p class="mb-2"><a href="/for-companies" class="btn btn-primary btn-lg mr-1">For Companies</a> See why companies and businesses also benefit from being Openly Operated.</p>
    <p class="mb-2"><a href="/how-to" class="btn btn-primary btn-lg mr-1">How To</a> The requirements for Openly Operated products, and how to get started.</p>
    <p class="mb-2"><a href="/about-us" class="btn btn-primary btn-lg mr-1">About Us</a> Read about the values, mission, origin, and creators of Openly Operated.</p>
    <p class="mb-2"><a href="/reports" class="btn btn-primary btn-lg mr-1">Reports</a> See live examples of Openly Operated products and their audit reports.</p>
    <p class="mb-2"><a href="/contact" class="btn btn-primary btn-lg mr-1">Get Involved</a> Discuss Openly Operated, transparency, the future of the web, and any related topics.</p>
  </div>
</div>