<footer class="footer bg-black text-left">
  <div class="container">
    <div class="row mb-5 pt-4">
      
      <div class="col-lg-10 offset-lg-1">

        <div class="row pt-1">
      
          <div class="col-md-4">
            <ul class="list-unstyled">
              <li><strong>Learn</strong></li>
              <li><a href="/">Home</a></li>
              <li><a href="/about-us">About Us</a></li>
              <li><a href="/user-benefits">User Benefits</a></li>
              <li><a href="/for-companies">For Companies</a></li>
              <li><a href="/how-to">How To</a></li>
              <li><a href="/auditors">Auditors</a></li>
              <li><a href="/reports">Reports</a></li>
              <li><a href="/faq">FAQ</a></li>
              <li><a href="/blog">Blog</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="list-unstyled">
              <li><strong><a href="/contact" class="border-bottom-0">Contact</a></strong></li>
              <li><a href="mailto:hi@openlyoperated.org">Email</a></li>
              <li><a href="https://twitter.com/openlyoperated">Twitter</a></li>
              <li><a target="_blank" href="https://github.com/openlyoperated">GitHub</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="list-unstyled">
              <li>
                <a href="https://openlyoperated.org/report/openlyoperated" target="_blank" style="text-decoration: none !important; border-bottom: none !important;" class="mx-0">
                  <img src="https://shared-cmsbucket-a1w1o8ixeyd9.s3.amazonaws.com/badge-medium-3.png" style="margin-top: 0px; max-width: 240px;" class="pb-2">
                </a>
              </li>
              <li><a href="/privacy-policy">Privacy Policy</a></li>
              <li><a href="/terms">Terms and Conditions</a></li>
              <li class="mt-2 small">535 Mission Street, 14<sup>th</sup> Floor<br/>San Francisco, CA 94105<br/>United States</li>
              <li><span class="small">© 2021 Confirmed Inc.</span></li>
            </ul>
          </div>

        </div>

      </div>
      
    </div>
  </div>
</footer>