<head>
  <title>{{title}}</title>
  
	<meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Trust through total transparency.">
  <meta name="author" content="Openly Operated">

	<meta property="og:type" content="product">
	<meta property="og:title" content="Openly Operated">
	<meta property="og:description" content="Trust through transparency.">
	<meta property="og:url" content="https://openlyoperated.org">
  <meta property="og:image" content="https://openlyoperated.org/images/glasses.png">

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/oo.css">
  
</head>