{{> header title="Notification" }}

<body>
  
  {{> nav active }}
  
  <div class="container">
    
    <div class="row pt-4">
      <div class="col-xl-4 offset-xl-4 col-md-6 offset-md-3 col-sm-8 offset-sm-2 mt-5 rounded shadow-lg py-4">
        <h5 class="mb-3 text-center">Notification</h5>
        {{> flash }}
        <a href="/" class="btn btn-primary btn-lg btn-block mt-3">Home</a>
      </div>
    </div>
    
  </div>
  
  {{> footer}}

  {{> bootstrapjs}}
  
</body>